{% extends 'base.html' %}

{% block body_class %}error-404{%endblock %}

{% block content %}

<div class="message-404">
    <h4 class="display-4 text-center">Sorry, that page doesn't exist! {{ request.status }}</h4>
    <p class="m-3 text-center">
        <a href="/home" style="font-size: 36px;"><b>Return to the homepage</b></a>.</p>
    <div class="row">
        <div class="col-sm-8 ml-auto mr-auto">
        <form class="form-inline" action="/users"></form>
        </div>
    </div>
</div>

{% endblock %}